#root {
    width: 100vw;
    height: 100vh;
}

.metronome {
    width: 200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

button {
    background-color: blue;
    border: 1px solid black;
    width: 100px;
}
